
.container.padded

  %h2
    Mikedll CRM

  %p
    Keep track of contacts, customers, and clients. Make some invoices.

  %p
    = link_to "Create Your Business or Organization and Sign Up", new_business_path


