
= simple_form_for :payment_gateway_profile, :object => authorize_net_payment_gateway_profile, :remote => true, :url => '#', :html => { :class => 'form-inline' } do |f|

  .section-title
    Payment Information

  .errors.alert.alert-error.hide

  = render :partial => "shared/payment_gateway_profile_attributes", :locals => { :f => f, :card_number_placeholder => authorize_net_payment_gateway_profile.card_prompt }

  %button.save.btn.btn-primary
    Save
