
.bundle/
.DS_Store

log/*
tmp/*
db/*.sqlite3

config/credentials.yml
config/database.yml
config/redis.conf

public/javascripts/generated/
public/stylesheets/active_admin.css

dump.rdb


public/assets/*
public/uploads/*
public/test/uploads/*

.sass-cache

cknife.yml

db/fineGrained.db
db/fineGrainedTest.db
