
- content_for :head do
  = javascript_include_tag 'manage'
  = render :partial => 'shared/app_starter_settings', :locals => {:app_class => 'status-monitor', :primary_model_names => { :camelized_singular => 'StatusMonitor'}, :expecting_primary_bootstrap => false, :multiplicity => 'singular', :app_starter_params => {}}

.gui-container.container-fluid
  .app-gui.status-monitor-gui.single-model
    .section-title
      Status Monitor

    .row-fluid

      .span12
        .errors.alert.alert-error.hide
        .model-show-container


      .clear

      .spinner-container.hide 
        .spinner
          = image_tag 'loading.gif'

.templates.hide
  .status_monitor_view_example

    = simple_form_for :status, :remote => true, :html => { :class => 'form-horizontal' } do |f|

      .control-group
        .control-label
          Status Result:
        .controls
          .read-only-field{ :data => { :name => 'status_monitor[status]' } }

      .control-group
        .controls
          .btn-group
            %a.btn.check-status
              Check

