

.container-fluid.gui-container.static-container
  .app-view.login_failed
    %p
      If you're here, your login probably failed.

    %p
      Either you denied us permission, or there is no invitation
      for you to join the orginizaton.

    %p
      = link_to "Home", root_path

