
- content_for :head do
  = javascript_include_tag 'manage'

.container-fluid.gui-container  
  .products-gui.app-gui
    = render :partial => 'shared/app', :locals => { :app_top => true, :app_class => 'products', :title => "Products", :bootstrap => current_objects.to_json(:include => { :product_images => { :include => :image } }) }

.templates.hide
  - [Product, Image].each do |klass|
    %div{ :class => "#{klass.to_s.underscore}_view_example"}
      = render klass.new
