
body {
  margin:0px;
  padding:0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #000000;
  background: #262626;
}

a img {
  border-width:0;
}

/* Header
-----------------------------------------------
*/

#navbar-iframe {
  display: none !important;
}

#header-wrapper {
  text-align: center;
}

#header {
  width: 880px;
  margin: 0 auto;
}

#header h1 {
  font-size: 24pt;
  font-weight: bold;
  font-family: Arial,Helvetica,sans-serif;
  letter-spacing: 1px;

  color: #fffff2;
  text-align: center;
}

#header a {
  display: block;
  color: #fffff2;
  text-decoration: none;
}

/* Main division of display
----------------------------------------------- */

#outer-wrapper {
  text-align: center;
}

#content-wrapper {
  margin: 0 auto 0 auto;
  width: 880px;
  position: relative;
}

#main-wrapper {
  position: absolute;
  top: 0;
  left: 0;

  width: 640px;

  text-align: left;
  background: #fffff2;
  font-size: 10pt;
  padding:15px;
}

* html #main-wrapper {
  width: 670px;
}

#sidebar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 210px;  
}


/**
   Posts
 */
h2.date-header {
  margin: 0 0 1em 0;
  padding: 0;
  font-size: 8pt;
  font-weight: normal;
}

.post {
  margin-bottom: 2em;
}

h3.post-title {
  font-size: 18pt;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.post h3 a {
  color: #000000;
  text-decoration: none;
}

.post h1 {
  font-size: 14pt;
  padding-bottom: 0;
  margin-top: 1.5em;
}

.post h2 {
  font-size: 12pt;
}

/* Comments
----------------------------------------------- */
#comments h4 {
  margin:1em 0;
  font-weight: bold;
  line-height: 1.4em;
  text-transform:uppercase;
  letter-spacing:.2em;
  color: #999999;
}

#comments-block {
  margin:1em 0 1.5em;
  line-height:1.6em;
}

#comments-block .comment-author {
  margin:.5em 0;
}

#comments-block .comment-body {
  margin:.25em 0 0;
}

#comments-block .comment-footer {
  margin:-.25em 0 2em;
  line-height: 1.4em;
  text-transform:uppercase;
  letter-spacing:.1em;
}

#comments-block .comment-body p {
  margin:0 0 .75em;
}

.deleted-comment {
  font-style:italic;
  color:gray;
}

.feed-links {
  clear: both;
  line-height: 2.5em;
}

#blog-pager-newer-link {
  float: left;
}

#blog-pager-older-link {
  float: right;
}

#blog-pager {
  text-align: center;
}

/* Sidebar Content
----------------------------------------------- */
.sidebar {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  color: #fffff2;
}

.sidebar .widget {
  margin: 3em 0 3em 1em;
  text-align: left;
}

.sidebar .widget ul {
  clear: both;
  list-style:none;
}

.sidebar .widget h2 {
  padding: 0;
  margin: 0;

  font-size: 12px;
  background: #262626;
  font-weight: bold;
}

.Label ul {
  margin: 0 0 0 1em;
  padding: 0;
}

.LinkList ul,
.LinkList ul li {
  padding: 0;
  margin: 0;
}

.BlogArchive ul li {
  padding-left:15px;
  text-indent:-15px;
}

.sidebar .widget a {
  color: #fffff2;
  text-decoration: none;
}

.sidebar .widget a:hover {
  text-decoration: underline;
}

.sidebar .widget ul li {
  margin: .5em 0;
  padding: 0 .25em 0;
}

pre {
  font-size: 10pt;
}

/* Footer
----------------------------------------------- */
#footer {
  clear:both;
  margin:0 auto;
  padding-top:15px;
  line-height: 1.6em;
  text-transform:uppercase;
  letter-spacing:.1em;
  text-align: center;
}

pre {
  padding: 1em;
}

pre.math {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}

pre code.renderedMath {
    margin-left: auto;
    margin-right: auto;
    background: #FFFFF2
}

pre code {
  margin-left: -6%;
  margin-right: -6%;
  overflow: auto;
  font-family: Monaco, monospace;
  font-size: 10pt;
}

ol li pre code,
ul li pre code {
  margin-left: -12%;
  margin-right: -6%;
  overflow: auto;
}


