
body {
    margin: 0;
    padding: 0;

    font-family: Verdana;
    font-size: 9pt;

    background: #262626;
    color: black;
}

#header {
    padding: 386px 1em 0;
    background: top center url(/images/beach3.jpg) no-repeat;
    position: relative;
}

body div#main {
  position:absolute;
  left:40%;
  width:600px;

  top: 340px;
  margin-left:-315px;
  background: #fffff2;

  padding:15px;
  z-index: 1;
}

* html body div#main {
  width: 630px;
}

div#main a, 
div#main a:link, 
div#main a:visited {
  text-decoration: none;
  color: #40e0d0
}

div#main a:hover {
  text-decoration: underline;
  color: #40e0d0;
}

div#main div a,
div#main div a:link,
div#main div a:visited {
  color: blue;
}

div#main div a:hover {
  color: #373737;
}

body div div {
  margin: 1em 0 1em 0;
  padding: 0;
}

h1 {
}

li {
  list-style: none;
}

.date {
  font-family: Courier;
}

.container_hook {

}

#greeting {
  position: absolute;
  top: 30px;
  margin-left: 30%;
  margin-right: 30%;
  color: #fffff2;
  font-style: italic;
  padding-left: 90px;
  background: url('../images/splash.jpg') top left no-repeat;

  min-height:100px;
  height:auto !important;
  height:100px;
  z-index: 100;
}


#belowheader {
}

#belowheader img {
}

.feature {
}

ul#projects_list li {
  list-style: disc;
  margin: .5em 0;
}

#news {
}


.dynamic h1 {
  padding: 0;
  margin: 0;
  font-size: 12px;
  background: #262626;
  color: #fffff2;
  font-weight: bold;
  padding: 2pt;
}

.dynamic {
  float: right;
  clear: right;
  width: 210px;
  border: 1px solid #262626;
  border-right: 0;
  border-bottom: 0;
  margin: 1em 0 1em 1em;
}

.dynamic ul {
  clear: both;
  padding: 0;
  margin: 0;
}

.dynamic ul li {
  margin: 1em 1em;
}

.dynamic .date {
  font-family: Verdana;
  font-size: 8pt;
}

.clear {
    clear: both;
}





h1.title{
    position:absolute;
    right:20px;
    top:0px;
    font-weight:normal;
    text-transform:uppercase;
    font-size:56px;
    color:#fff;
    background: #fffff2;
    padding:0px 15px 10px 15px;
}
h1.title span{
    font-size:14px;
    display:block;
}
span.reference{
    font-family:Arial;
    position:fixed;
    right:10px;
    bottom:10px;
    font-size:10px;
}
span.reference a{
    color:#333;
    text-transform:uppercase;
    text-decoration:none;
    margin-left:20px;
}
