
.image
  .image-container
    %img{:src => '', :class => 'product-image'}
    %i.icon-requesting
      = image_tag 'arrow-spinner.gif'

  %label.checkbox
    = check_box_tag 'product_image[active]', 'true', false, :class => 'active boolean'
    Active

  .control-group
    .controls
      %input.btn.btn-mini.put_action{ :type => 'button', :value => 'Make Primary', :data => { :action => 'toggle_primary' } }

      %a.destroy.btn.btn-mini.pull-right{ :data => { :confirm => t('delete_confirm') } }
        %i.icon-trash



