
.image
  .image-container
    %img{:src => '', :class => 'product-image', :data => { 'dz-thumbnail' => ''}}
    %i.icon-requesting
      = image_tag 'arrow-spinner.gif'
  .image-uploading-container
    .progress.progress-striped.active
      .bar
    .dz-error-message
      %span{ :data => { 'dz-errormessage' => '' } }
  .image-controls
    .control-group
      .controls
        .pull-left
          %label.checkbox
            = check_box_tag 'product_image[active]', 'true', false, :class => 'active boolean'
            Active

          %br
          %input.btn.btn-mini.put_action{ :type => 'button', :value => 'Make Primary', :data => { :action => 'toggle_primary' } }

        .pull-right
          %a.destroy.btn.btn-mini.pull-right{ :data => { :confirm => t('delete_confirm') } }
            %i.icon-trash

        .clearfix