
.apps-general-templates.hide
  .list-item-view-title-template
    %a{:href => '#'}
      %i.icon-edit
      %i.icon-warning-sign
      %i.icon-requesting
        = image_tag 'arrow-spinner.gif'
      %span.label.label-important
      %span.titleText

  .flash-template
    .flash
