.btn-group
  %a.add-model.btn
    +New

- if defined?(filters)
  .btn-group.collection-filters
    - filters.each do |filter|
      %a.collection-filter.btn{ :class => 'filter_' + filter.first, :data => { :filter => filter.first, :toggle => "button" } }
        = filter.last

- if defined?(sorts)
  .btn-group.collection-sorts{ :data => { :toggle => "buttons-radio" } }
    - sorts.each do |sort|
      %a.collection-sort.btn{ :class => ['sort_' + sort.first, (sort.first == sorts.first.first ? "active" : nil) ].compact, :data => { :sort_attribute => sort.first, :sort_direction => sort[1], :sort_type => sort[2] } }
        = sort.last

