.btn-group
  %button.save.btn.btn-primary{:type => "button"}
    Save

.btn-group.sensitive
  %button.revert.btn.btn-warning{ :type => "button", :data => { :confirm => t('revert_confirm') }}
    Revert
