.nav.nav-tabs
  %li
    = link_to(t('main_nav.home'), business_path)
  - if bcan? Feature::Names::PRODUCTS
    %li
      = link_to(t("main_nav.products"), products_path)
  %li
    = link_to(t('main_nav.contact'), contact_home_path)
  - if true # bcan? Feature::Names::CMS
    - current_business.pages.active.each do |p|
      %li
        = link_to p.title, page_path(:id => p.slug)
