
- content_for :head do
  = javascript_include_tag 'clients'
  = render 'bootstrap'

.container-fluid.gui-container
  
  .row-fluid.clients-gui
    
    .span4
      %button.add-client
        Add

      %ul.clients-list

    .span8
      .errors.alert.alert-error.hide
      .clients-show-container

    .clear

    .spinner-container.hide 
      .spinner
        = image_tag 'loading.gif'

.templates.hide
  .client_view_example
    = render Client.new

