
<object type="application/x-shockwave-flash" height="300" width="400" id="live_embed_player_flash" data="http://www.justin.tv/widgets/live_embed_player.swf?channel=mikedll" bgcolor="#000000">
  <param name="allowFullScreen" value="true" />
  <param name="allowScriptAccess" value="always" />
  <param name="allowNetworking" value="all" />
  <param name="movie" value="http://www.justin.tv/widgets/live_embed_player.swf" />
  <param name="flashvars" value="channel=mikedll&auto_play=false&start_volume=25" />
</object>

<a href="http://www.justin.tv/mikedll#r=-rid-&s=em" class="trk" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px; text-decoration:underline; text-align:center;">Watch live video from mikedll on Justin.tv</a>
