
<object type="application/x-shockwave-flash" height="300" width="400" id="live_embed_player_flash" data="http://www.justin.tv/widgets/live_embed_player.swf?channel=mikedll" bgcolor="#000000">
  <param name="allowFullScreen" value="true" />
  <param name="allowScriptAccess" value="always" />
  <param name="allowNetworking" value="all" />
  <param name="movie" value="http://www.justin.tv/widgets/live_embed_player.swf" />
  <param name="flashvars" value="channel=mikedll&auto_play=false&start_volume=25" />
</object>

<object id="jtv_chat_flash" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="450" height="263" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0">
  <param name="bgcolor" value="#FFFFFF" />
  <param name="allowScriptAccess" value="always" />
  <param name="allowNetworking" value="all" />
  <param name="allowFullScreen" value="true" />
  <param name="flashvars" value="channel=officecam" />
  <param name="wmode" value="transparent" />
  <param name="src" value="http://www.justin.tv/widgets/jtv_chat.swf" />
  <embed id="jtv_chat_flash" type="application/x-shockwave-flash" width="450" height="263" src="http://www.justin.tv/widgets/jtv_chat.swf" wmode="transparent" flashvars="channel=mikedll" allowfullscreen="true" allownetworking="all" allowscriptaccess="always" bgcolor="#FFFFFF">
  </embed>
</object>
<br /> 
<a style="padding: 2px 0px 4px; display: block; width: 320px; font-weight: normal; font-size: 10px; text-decoration: underline; text-align: center;" href="http://www.justin.tv/officecam">Watch live on Justin.tv</a></p> 
