
- content_for :head do
  = javascript_include_tag 'hotkeys'
  = javascript_include_tag 'contact'

#main.floating_container

  %h2
    Contact Info

  %p

    You can contact me any time via email or phone.

  %p
    My email is
    "mikedll" -at- (this domain). So, mikedll will show up twice in
    that email address.

  %p
    My phone number is three two
    three, two eight four, six two, eight two.

  %p
    = link_to '< Back', root_path, 'data-hotkey' => 'b'

