

#main.floating_container

  %h2
    Contact Info

  %p
    I am available for contract work as a software product developer, or
    for general purpose consulting, or for conversation, via email and
    phone.  My email is "mikedll" -at- (this domain). So, mikedll will
    show up twice in that email address. You can contact me by phone at
    three two three, two eight four, six two, eight two.

  %p
    = link_to '< Back', root_path
