
- content_for :head do
  = javascript_include_tag "home.js"

#main.floating_container

  #latest_blog_entries.feature.dynamic
    %h1
      Recent Blog Entries
    %ul#blog_entries
      %li

  %h2
    The Mike De La Loza Company

  #missionstatement
    %p
      Est. December 13th, 2010 in Monterey, CA.

    %p
      The goal of the Mike De La Loza Company is to help intelligent life forms
      minimize the variance of pain that they may experience while alive.
      It will be in service until 2025.

    %p
      To pay the bills, I work as a
      = link_to("freelance software developer", "http://www.odesk.com/users/Skills-pay-bills_~~b7c77f857ebb0450") + "."

    %p.hide
      = link_to "View my portfolio", "#", :id => "projects_link"

