
- content_for :head do
  = javascript_include_tag "home.js"

#main.floating_container

  #latest_blog_entries.feature.dynamic
    %h1
      Recent Blog Entries
    %ul#blog_entries
      %li

  %h2
    The Mike De La Loza Company


  #missionstatement

    %p
      Located in Monterey, California, the Mike De La Loza Company
      was created December 13th, 2010 and will be in service until
      2025.

    %p
      The goal of the company is to help intelligent life forms minimize the variance of pain that they may experience while alive.

    %p
      To pay the bills, I work as a
      = link_to("freelance software developer", "http://www.odesk.com/users/Skills-pay-bills_~~b7c77f857ebb0450") + "."

    %p.hide
      = link_to "View my portfolio", "#", :id => "projects_link"

