
- content_for :head do
  = javascript_include_tag "home.js"

#main.floating_container

  #latest_blog_entries.feature.dynamic
    %h1
      Recent Blog Entries
    %ul#blog_entries
      %li

  %h2
    The Mike De La Loza Company

  #missionstatement

    %p

      This is the front to my self-titled company. Right now its just
      me, Mike. I created this December 13th, 2010 in Monterey,
      California.  The goal of the Mike De La Loza Company is give me
      an outlet, something to embrace more fully than anything I've
      found before. I want to promote constant self-improvement. I
      want to reduce the variance of pain felt by intelligent life on
      earth.

    %p 
      My blog and my personal projects are meant to serve this end.
      I value them more than I value living. I do not have sacred
      respect for age, geographic location, culture, race, family,
      marriage, political state, or religion.

    %p
      To pay the bills, I work as a
      = link_to("freelance software developer on ODesk.com", "http://www.odesk.com/users/Skills-pay-bills_~~b7c77f857ebb0450") + "."
      I seek clients who want to enhance or build a business with effective, ethical use of technology.

    %p 
      I can say a little about my background. I grew up in Southern
      California. I was educated at Iowa State University and the
      University of California, Riverside.

    %p
      When I was 19, I got my first technical job teaching C++ to
      college students. Later, I started doing web development at my
      college. I learned a lot of web development technology at the
      same time, including Linux, Apache, MySQL, Perl, Python, PHP,
      and JavaScript.

    %p
      When I graduated, I worked for research scientists in both
      psychology and space propulsion subject matters. I made
      simulations for the research work. One of these was an OpenGL
      C/C++ application, and the other was a C/C++ high-performance
      physics application. I also worked on some embedded satellite
      communication devices.

    %p
      After that, I went traveling to get some international business
      experience. I moved on my own to India and got a job in Bangalore. This was a
      typical offshore development environment. I completed a few
      major projects for US clients. This gave me intense experience
      with Ruby on Rails and C#.

    %p
      Most recently, I've been working on undergrad level math and
      intermediate algorithms on my blog. During project work, I tend
      to use technologies like Python, MongoDB, PostgreSQL, Git, Ruby
      on Rails, Haml/Sass, jQuery, and CoffeeScript (to name a few).

    %p
      I know lisp, and emacs is my editor, regardless of whether I'm
      on Windows 7, Ubuntu, or Snow Leopard. It's common for me to
      extend emacs myself with elisp.

    %p
      I've done some Android and Objective-C, and I'm trying to get
      more into node.js, especially when writing with CoffeeScript.

    %p.hide
      = link_to "View my portfolio", "#", :id => "projects_link"

