
.report
  .control-group
    .control-label
      Name:
    .controls
      .read-only-field{:data => {:name => "report[name]"}}

  .control-group
    .control-label
      Value:
    .controls
      .read-only-field.currency{:data => {:name => "report[amount]"}}
