---
safe_admin_email: "someone@example.com"
google:
  oauth2_client_id: ""
  oauth2_client_secret: ""
dev_owned_google:
  oauth2_client_id: ""
  oauth2_client_secret: ""
stripe:
  secret_key: ""
  publishable_key: ""
redis: "redis://localhost:6379"
development:
  authorizenet:
    payment_gateway_id: ""
    api_login_id: ""
    transaction_key: ""
    test: true
test:
  redis: redis://localhost:6379/1
  authorizenet:
    payment_gateway_id: ""
    api_login_id: ""
    transaction_key: ""
    test: true
AMAZON_ACCESS_KEY_ID: 
AMAZON_SECRET_ACCESS_KEY: 
ses:
  AMAZON_ACCESS_KEY_ID: 
  AMAZON_SECRET_ACCESS_KEY: 
DEFAULT_EMAIL_SENDER: admin@mriveracrm.com
