
body {
}


.flash {
  margin-left: -300px;
  width: 600px;
  top: 0;
  left: 50%;
  background: #fffff2;
  padding: 5px;
  position: absolute;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;

}

/* reset */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* util */

.clear {
    clear: both;
}

.hide {
    display: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a span.hotkey {
    text-decoration: underline;
}

h1 {
}

li {
  list-style: none;
}

.date {
  font-family: Courier;
}



/* login */

.login {
  position: absolute;
  top: 0;
  right: 0;
  background: #fffff2;
  border-bottom-left-radius: 5px;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  padding: 5px;
}


.login_failed {
  padding: 1em;
}

.menu a,
.menu a:link,
.menu a:visited {
  color: blue;
}

.menu a:hover {
  color: #373737;
}

.menu.major a {
  font-weight: bold;
}


/* client/ */

input.card_number  {
}

input.expiration_year,
input.expiration_month {
  width: 50px;
}

input.cv_code {
  width: 40px;
}
