
body {
    margin: 0;
    padding: 0;

    font-family: Verdana, Arial, Sans-Serif;
    font-size: 9pt;

    background: #262626;
    color: black;
}

#header {
    position: absolute;
    height: 100%;
    width: 100%;
    background: top center url(/images/anza1.png) no-repeat;
}

.flash {
  margin-left: -300px;
  width: 600px;
  top: 0;
  left: 50%;
  background: #fffff2;
  padding: 5px;
  position: absolute;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;

}

/* reset */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* util */

.clear {
    clear: both;
}

.hide {
    display: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a span.hotkey {
    text-decoration: underline;
}

h1 {
}

li {
  list-style: none;
}

.date {
  font-family: Courier;
}

.floating_container {
  background: #fffff2;
  padding:15px;
  z-index: 1;
}

.feature {
}

ul#projects_list li {
  list-style: disc;
  margin: .5em 0;
}

.dynamic h1 {
  padding: 0;
  margin: 0;
  font-size: 12px;
  background: #262626;
  color: #fffff2;
  font-weight: bold;
  padding: 2pt;
}

.dynamic {
  float: right;
  clear: right;
  width: 210px;
  border: 1px solid #262626;
  border-right: 0;
  border-bottom: 0;
  margin: 1em 0 1em 1em;
}

.dynamic ul {
  clear: both;
  padding: 0;
  margin: 0;
}

.dynamic ul li {
  margin: 1em 1em;
}

.dynamic .date {
  font-family: Verdana;
  font-size: 8pt;
}


#top_menu ul {
  margin: 0;
  padding: 0;
}

#top_menu ul li {
    font-size: 10pt;
    font-weight: bold;
    padding: 0;
    float: left;
    margin: 0em 1em 1em;
}


/* login */

.login {
  position: absolute;
  top: 0;
  right: 0;
  background: #fffff2;
  border-bottom-left-radius: 5px;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  padding: 5px;
}


.login_failed {
  background: #fffff2;
  padding: 1em;
}

.menu a,
.menu a:link,
.menu a:visited {
  color: blue;
}

.menu a:hover {
  color: #373737;
}

.menu.major a {
  font-weight: bold;
}

/* apps */

.gui-container {
  font-size: 10pt;
  top: 45%;
  left: 45%;
  position: absolute;

  .click-shield {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}

.gui-container.static-container {
  font-size: 10pt;
  top: 50px;
  left: 50px;
  position: absolute;
}

.app-gui {
  left: 0;
  top: 0;
  background: #fffff2;
  position: absolute;

  overflow-x: hidden;

  padding: 2em;
  border: 2px solid #444;
  box-shadow: 3px 3px 3px #000;
  border-top-left-radius: 10px;
}

.pane {
  float: left;
  margin: 1em;
  overflow: auto;
}

.app-top {
  margin-bottom: 1em;
}

.section-title {
  font-size: 16pt;
  font-weight: bold;
  margin-bottom: 5px;
}

.models-list li {
  margin: 2px 0;
  padding: 1px;

  a {
    padding: 3px;
    display: block;

    i {
      display: none;
      float: left;
      margin: 2px 0 0 -21px;
    }
    span.label {
      display: none;
    }
  }

  a.active {
    font-weight: bold;
    color: #005580; // taken from bootstrap
    font-size: 12pt;
  }

  a:hover {
    font-weight: bold;
  }
}

.models-list li.dirty {
  a {
    color: #c09853;

    i.icon-edit {
      display: inline-block;
    }
  }
}

.models-list li.error {
  background: rgb(251, 154, 154); 
  color: #000;

  a {
    color: #000;
    i.icon-edit {
      display: none;
    }
    i.icon-warning-sign { display: inline-block; }
  }
}

.models-list li.labelled {
  a {
    span.label {
      display: inline;
    }
  }
}

.models-list li.requesting {
  padding: 0px;
  background: rgb(193, 193, 238); 
  a {
    color: #000;
    i.icon-edit { display: none; }
    i.icon-warning-sign { display: none; }
    i.icon-requesting {
      display: inline-block;
    }
  }
}


.models-show-container {
}

.model-view {
  padding: 1em 0 0 0;

  .btn-group.sensitive {
    margin-left: 50px;
    margin-right: 50px;
  }

  .control-group.warning textarea {
    color: #000;
  }

  .image-list .image {
    display: inline-block;
    margin: 20px;

    img {
      padding: 4px;
      width: 160px;
      height: 133p;
    }

    .controls {
      margin-left: 0;
    }
  }
}

.dropzone {
  min-height: 100px;
  border: dashed 3px #cccccc;
  text-align: center;
}

.dropzone .dz-default.dz-message {
  background-image: none;
}

.dropzone .dz-default.dz-message span {
  display: inline-block;
  margin-top: 2em;
}

.btn-group-label {
  margin-left: 12px;
  font-size: 10pt;
  font-weight: bold;
  display: inline-block;
  vertical-align:middle;
  padding: 4px 4px 4px 0px;
}

.controls textarea {
  width: 380px;
}

/* client/ */

input.card_number  {
}

input.expiration_year,
input.expiration_month {
  width: 50px;
}

input.cv_code {
  width: 40px;
}
