
%p
  Thank you for signing up for
  = "#{t('app_title')}."

%p
  = link_to('Confirm your email here', confirmation_url(@resource, :host => RequestSettings.full_host, :confirmation_token => @resource.confirmation_token))
  to begin using the product.

= render :partial => 'shared/email_contact_info', :locals => { :business => @resource.business }


