
<h1>Instances</h1>

<ul id="instance_list">
	Getting list of instances...
	</ul>

<%= periodically_call_remote(:url => 'ec2/status', :frequency => '5', :update => 'instance_list')%>

<h1>Launchable</h1>

<ul id="launchable_list">
	</ul>
